{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Bem Vindo ao dashboard' %}

{% block main %}
    <style>
        p { max-width: 600px; }
    </style>

    <p>
        <strong>Muito bom ter você por aqui.</strong>
    </p>

    <p>
        Utilize as opções ao lado.
    </p>

    <pre>
    </pre>
{% endblock %}



